global:
  scrape_interval: 15s

scrape_configs:
  - job_name: 'otel-collector'
    static_configs:
      - targets: ['otel-collector:8889']

  - job_name: 'layer-1-ingestion'
    static_configs:
      - targets: ['ingestion:3001']

  - job_name: 'layer-2-processing'
    static_configs:
      - targets: ['processing:3002']

  - job_name: 'layer-4-analysis'
    static_configs:
      - targets: ['analysis:8081']

  - job_name: 'layer-5-aggregation'
    scrape_interval: 5s
    static_configs:
      - targets: ['aggregation:8080']

  - job_name: 'layer-6-signal'
    static_configs:
      - targets: ['signal:8082']

  - job_name: 'layer-7-api'
    scrape_interval: 5s
    static_configs:
      - targets: ['backend-api:4000']

  - job_name: 'telegram-bot'
    static_configs:
      - targets: ['telegram-bot:7000']
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'cadvisor'
    static_configs:
      - targets: ['cadvisor:8080']

  - job_name: 'redis-exporter'
    static_configs:
      - targets: ['redis-exporter:9121']

  - job_name: 'postgres-exporter'
    static_configs:
      - targets: ['postgres-exporter:9187']
