apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../base

configMapGenerator:
  - name: trading-config
    behavior: merge
    literals:
      - KAFKA_BROKERS=REPLACE_ME_WITH_MSK_BROKERS
      - REDIS_HOST=REPLACE_ME_WITH_ELASTICACHE_ENDPOINT
      - API_URL=http://layer-7-api:4000
    # Note: DB connection strings for TimescaleDB would be configured via Secrets, not ConfigMaps ideally. 
    # But for now we focus on the service addresses mapped here.

patches:
  - path: delete-local-db.yaml
